@font-face {
    font-family: 'Book Antiqua';
    src: url('/fonts/Book_Antiqua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logotext
{
    color:#00ff7b; 
    font-family: 'Press Start 2P', cursive;
}

.logotext img
{
    margin-left: 0px;
    margin-right: 7px;
}

nav{
    background: rgba(11, 11, 11, 0);  /* opacity: 0.02 */
}

/* background animation: hơi non tay nên làm tạm tạm :D */
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgba(71,54,118,0.70), rgba(125,28,136,0.70), rgba(163,110,169,0.70), rgba(234,138,203,0.70), rgba(209,161,196,0.70), rgba(243,217,236,0.70));
    background-size: 300% 300%;
    animation: color 50s ease-in-out infinite;
}

@keyframes color
{
    0%
    {
        background-position: 0 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0 50%;
    }
}

.title
{
    font-family: "Book Antiqua";
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
  
.table thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.table th, .table td {
    padding: 12px 15px;
}
  
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.table-info {
    font-weight: bold;
    color: #009879;
}
/* CSS cho phân trang */
.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
  
.pagination-button {
    cursor: pointer;
    margin: 0 10px;
    padding: 6px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}
/* ví dụ đang ở trang 1 thì cái này sẽ hoạt động */
.pagination-button.active {
    background-color: #009879;
    color: #fff;
}
/* */

hr
{
    border-width: 100px;
}

#pg-button
{
    border-radius: 40%; /* sửa lại thành hình bầu dục cho nút chuyển trang */
}